body {

    background: var(--color-gray-100);

    color: var(--color-black);

}

a {

    text-decoration: none;

    color: inherit;

}

button {

    font-family: inherit;

}

input {

    font-family: inherit;

}